@charset "Shift_JIS";
/****************************************/
/*			背景						*/
/****************************************/
/*Default */
body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-attachment: fixed;
	background-color: #FFFFF0;
	color: #000000;
}

/****************************************/
/*			ヘッダー					*/
/****************************************/
#header {
}

/*--------------*/
/*	ロ見出し	*/
/*--------------*/
#header h1 {
	padding: 3px;
	padding-left: 16px;
	color: #C03010;
}

#header table {
	background-color: #F0F0A0;
	width: 100%;
}

/****************************************/
/*			ヘッダー					*/
/****************************************/
#footer {
}

#footer table {
	background-color: #F0F0A0;
	width: 100%;
}


/****************************************/
/*			コンテンツ					*/
/****************************************/
#contents{
	position: relative;
	margin: 0px auto;
	font-size: small;
}

#contents h1 {
	padding: 3px;
	padding-left: 16px;
	color: #C03010;
}

#contents h2 {
	padding: 5px;
/*	padding-left: 10px;	*/
	border-left: 7px solid #808080;
	border-bottom: none;
	background-color: #E0E0E0;
/*	color: #103030;	*/
	font-size: large;
	font-family:sans-serif;
}

#contents h3 {
	margin: 24px 0px 0px 0px;
	padding-left: 7px;
	border-left: 10px solid #C03010;
	border-bottom: #C03010 1px solid;
	background-color:transparent;
	color: #103030;
	font-size: medium;
	font-family:sans-serif;
}

#contents h4 {
	padding: 0px;
	padding-left: 5px;
	margin: 16px 0px 0px 0px;
	background-color:transparent;
	color: #103030;
	font-size: medium;
	font-family:sans-serif;
}

#contents h5 {
	padding: 0px;
	padding-left: 5px;
	margin: 0px 0px 0px 0px;
	background-color:transparent;
	color: #103030;
	font-size: x-small;
	font-family:sans-serif;
}

/*--------------*/
/*	１要素		*/
/*--------------*/
#contents div.block {
	position:relative;
	margin: 10px 10px 10px 10px;
	padding: 0px 10px 10px  0px;
}

/*段落*/
#contents P {
	position:relative;
	left:1em;
	line-height: 125%;
	line-break: strict;
/*	word-break: keep-all;	*/
}

/* 強調表示 */
#contents strong {
	background-color:transparent;
	color: red;
}

/* 引数表示 */
#contents var {
	background-color:transparent;
	color: red;
}

/* リンク */
#contents a:link{
	background-color:transparent;
	color: blue;
}

#contents a:hover{
	background-color:transparent;
	color: #4080FF;
}

#contents a:visited{
	background-color:transparent;
	color: green;
}

#contents a:visited:hover{
	background-color:transparent;
	color: #40C040;
}

#contents code pre {
	position:relative;
	left:1em;
/*	border: 1px solid green;	*/
	border-collapse: collapse;
	font-size: small;
	line-height: 110%;
}
/*--------------*/
/*		表		*/
/*--------------*/
#contents table {
	margin-left: 1em;
	border: 1px solid green;
	border-collapse: collapse;
	font-size: small;
	line-height: 125%;
}

#contents caption {
	border: 1px solid #80C080;
	background-color: #F0F0C0;
	color: #202040;
	font-weight: bold;
	font-family:sans-serif;
	text-align: center;
}

#contents th {
	border: 1px solid #80C080;
	background-color: #E0E0FF;
	color: #404000;
	text-align: center;
	font-family:sans-serif;
}

#contents td {
	border: 1px solid #80C080;
	background-color:transparent;
	color: #002020;
	text-align: left;
}

/*----------------------*/
/*		表	枠線無し	*/
/*----------------------*/
#contents table.noline {
	position:relative;
	border: none;
	left:1em;
	line-height: 125%;
	font-size: small;
}

#contents table.noline caption {
	border: none;
	background-color: transparent;
	color: black;
	font-weight: bold;
	font-family:sans-serif;
	text-align: left;
}

#contents table.noline tr {
	border: none;
	background-color: transparent;
	color: black;
	text-align: center;
	vertical-align:top;
}

#contents table.noline th {
	border: none;
	background-color: transparent;
	color: black;
	text-align: center;
	vertical-align:top;
	font-family:sans-serif;
}

#contents table.noline td {
	border: none;
	background-color: transparent;
	color: black;
	text-align: left;
	vertical-align:top;
}

/*--------------*/
/*	リスト		*/
/*--------------*/

#contents dl {
	margin-left: 1em;
	font-size: small;
}

#contents dt {
	display: block;
	width:8em;
	margin-bottom: 1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
	background-color:transparent;
	color: #204040;
	line-height: 16px;
	font-family:sans-serif;
}

#contents dd {
	display: block;
	margin-bottom: 1px;
	margin-top: -17px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8em;
	line-height: 16px;
}
